.checkbox {
	position: relative;

	&:not(:last-child) {
		margin-bottom: em(5);
	}

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:focus-visible+.checkbox__label:before {
			box-shadow: 0 0 5px #000;
		}

		&:checked+.checkbox__label:before {
			background: #000;
		}

		&--pls {
			&:focus-visible+.checkbox__label:before {
				box-shadow: none;
			}

			&:checked+.checkbox__label:before {
				background: transparent;
			}

			&:checked+.checkbox__label:after {
				display: block;
			}
		}
	}

	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		position: relative;
		gap: 10px;

		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #a7a9ac;
		}

		&--pls {
			position: relative;

			&::before {
				flex: 0 0 15px;
				width: 15px;
				height: 15px;
				border: 1px solid #D4D4D4;
				border-radius: 50%;
				background-color: $whiteColor;
			}

			&::after {
				display: none;
				position: absolute;
				inset-block-start: toRem(4);
				inset-inline-start: toRem(4);
				content: '';
				flex: 0 0 7px;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: $blueColor;
			}
		}
	}

	// .checkbox__text
	&__text {
		align-self: center;

		&--pls {
			font-size: toRem(12);
			font-weight: 500;
			line-height: 1.25;
			/* 15/12 */
		}
	}
}