//<FORM>
// Сніппет (HTML):
.form {

	// .form--fdb
	&--fdb {
		display: flex;
		flex-direction: column;
	}

	&__row {}

	&__column {}

	&__line {

		&--fdb {
			margin-block-end: toRem(45);

			&:last-child {
				margin-block-end: toRem(80);
			}
		}
	}

	&__input {

		// .form__input--fdb
		&--fdb {
			color: $whiteColor;
			border-block-end: toRem(1) solid $whiteColor;

			&::placeholder {
				color: $whiteColor;
				font-size: toRem(12);
				font-weight: 500;
				line-height: 1.25;
				/* 15/12 */
			}
		}
	}

	&__button {
		&--fdb {
			margin-block-start: toRem(35);
			max-inline-size: toRem(230)
		}
	}

	&__error {}
}

//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import "button";

// <INPUTS>
// Сніппет (HTML): inp
//@import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";