// Заголовки, загальні БЕМ блоки та інше...

//=== Item-hero
.item-hero {
  border-radius: toRem(10);
  overflow: hidden;
  inline-size: toRem(360);
  flex-basis: toRem(360);
  aspect-ratio: 360 / 227;

  @media (max-width:$tablet) {
    inline-size: toRem(295);
    flex-basis: toRem(295);
    aspect-ratio: 295 / 187;
  }

  @media (any-hover: hover) {
    &:hover {

      .item-hero__link {
        &::before {
          background: transparent;
        }
      }

      .item-hero__button-play {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // .item-hero__wrapper
  &__wrapper {
    position: relative;
    display: flex;
  }

  // .item-hero__link
  &__link {
    inline-size: toRem(360);
    flex-basis: toRem(360);
    flex-grow: 1;
    aspect-ratio: 360 / 227;
    position: relative;

    @media (max-width:$tablet) {
      inline-size: toRem(295);
      flex-basis: toRem(295);
      aspect-ratio: 295 / 187;
    }

    &::before {
      position: absolute;
      content: '';
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: 100%;
      block-size: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
      transition: all 0.8s;
    }
  }

  // .item-hero__image  
  &__image {
    inline-size: 100%;
    object-fit: cover;
    border-radius: toRem(10);
  }

  // .item-hero__button-play
  &__button-play {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    inline-size: toRem(66);
    block-size: toRem(66);
    display: flex;
    align-items: center;
    justify-content: center;
    border: toRem(1) solid $yellowColor;
    border-radius: 50%;
    transition: all 0.4s;

    &::before {
      font-size: toRem(45);
      color: $yellowColor;
    }
  }
}

//=== Item-popular
.item-popular {
  border-radius: toRem(10);
  overflow: hidden;

  // .item-popular__wrapper
  &__wrapper {
    position: relative;
    display: flex;

    &::before {
      content: '';
      position: absolute;
      inline-size: 100%;
      block-size: 100%;
      inset-inline-start: 0;
      inset-block-start: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.12) 0%, #000 100%);
    }
  }

  // .item-popular__picture
  &__picture {
    inline-size: toRem(360);
    flex-basis: toRem(360);
    aspect-ratio: 360 / 497;
    flex-grow: 1;
    flex-shrink: 1;

    @media (max-width:$tablet) {
      inline-size: toRem(295);
      flex-basis: toRem(295);
      aspect-ratio: 295 / 490;
    }
  }

  // .item-popular__image
  &__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  // .item-popular__body
  &__body {
    position: absolute;
    inset-inline-start: percent(16, 360);
    inset-block-start: percent(211, 497);
    color: $whiteColor;
    inline-size: percent(328, 360);
    block-size: percent(244, 497);
    display: flex;
    flex-direction: column;
    gap: toRem(20);

    @media (max-width:$mobile) {
      inset-inline-start: percent(15, 295);
      inset-block-start: percent(174, 490);
      inline-size: percent(265, 295);
      block-size: percent(285, 490);
    }
  }

  // .item-popular__top
  &__top {}

  // .item-popular__subtitle
  &__subtitle {
    font-size: toRem(12);
    font-weight: 500;

    &:not(:last-child) {
      margin-block-end: toRem(2);
    }
  }

  // .item-popular__title-name
  &__title-name {
    color: $yellowColor;
    font-weight: 700;

    &:not(:last-child) {
      margin-block-end: toRem(10);
    }
  }

  // .item-popular__info
  &__info {
    font-size: toRem(12);
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: toRem(13);

    @media (max-width:$mobileSmall) {
      font-size: toRem(13);
    }
  }

  // .item-popular__item
  &__item {
    display: flex;
    align-items: center;
    column-gap: toRem(4);

    &::before {
      inline-size: toRem(12);
      flex-basis: toRem(12);
      flex-shrink: 0;
      font-size: toRem(11);
    }
  }

  // .item-popular__text
  &__text {
    font-size: toRem(12);
    line-height: 1.3;
    max-block-size: toRem(105);
    overflow: hidden;

    p {
      &:not(:last-child) {
        margin-block-end: toRem(10);
      }
    }
  }

  // .item-popular__button
  &__button {
    max-inline-size: toRem(190);
    white-space: nowrap;
  }
}

//=== Item-type
.item-type {
  display: flex;
  align-items: start;
  column-gap: toRem(20);

  // .item-type__icon
  &__icon {
    inline-size: toRem(75);
    flex-basis: toRem(75);
    aspect-ratio: 1;
    flex-shrink: 0;
  }

  // .item-type__image
  &__image {
    inline-size: 100%;
    object-fit: contain;
  }

  // .item-type__content
  &__content {}

  // .item-type__title
  &__title {
    font-size: toRem(18);
    font-weight: 700;
    line-height: 1.222222;
    /* 22/18 */
    color: $blueColor;
    margin-block-end: toRem(10);
  }

  // .item-type__text
  &__text {
    font-weight: 500;
    line-height: 1.3;

    p {
      &:not(:last-child) {
        margin-block-end: toRem(15);
      }
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(13);
    }
  }
}

//=== like icon
.like {
  inline-size: toRem(40);
  flex-basis: toRem(40);
  aspect-ratio: 1;
  flex-shrink: 0;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: toRem(2) solid #EDEDED;
  transition: all 0.3s;

  &::before {
    font-size: toRem(24);
    color: #D4D4D4;
  }

  &--trnsp {
    inline-size: toRem(50);
    flex-basis: toRem(50);
    background-color: rgba(237, 237, 237, 0.3);
    border: none;

    &::before {
      position: relative;
      z-index: 2;
      color: $grayColor;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $whiteColor;
      border: toRem(2) solid $blueColor;

      &::before {
        color: $blueColor;
      }
    }
  }
}

//=== Item-tour
.item-tour {
  display: flex;
  border-radius: toRem(10);
  box-shadow: 0 0 toRem(40) 0 rgba(0, 0, 0, 0.05);
  background-color: $whiteColor;
  overflow: hidden;

  @media (max-width: toEm(630)) {
    flex-direction: column;
  }

  // .item-tour__picture
  &__picture {
    inline-size: percent(238, 779);
    flex-basis: percent(238, 779);
    aspect-ratio: 238 / 303;
    flex-shrink: 0;
    border-radius: toRem(10) 0 0 toRem(10);

    @media (max-width:$mobile) {
      inline-size: percent(238, 610);
      flex-basis: percent(238, 610);
      aspect-ratio: 238 / 444;
    }

    @media (max-width: toEm(630)) {
      inline-size: 100%;
      flex-basis: 100%;
      aspect-ratio: 380 / 240;
      border-radius: toRem(10)toRem(10) 0 0;
    }
  }

  // .item-tour__image
  &__image {
    inline-size: 100%;
    block-size: 100%;
    aspect-ratio: 238 / 303;
    object-fit: cover;
    border-radius: toRem(10) 0 0 toRem(10);

    @media (max-width:$mobile) {
      aspect-ratio: 238 / 444;
    }

    @media (max-width: toEm(630)) {
      aspect-ratio: 380 / 240;
      border-radius: toRem(10)toRem(10) 0 0;
    }
  }

  // .item-tour__inner  
  &__inner {
    inline-size: percent(541, 779);
    flex-basis: percent(541, 779);
    aspect-ratio: 541 / 303;
    background-color: $whiteColor;
    padding: toRem(27) toRem(43);

    @media (max-width:$mobile) {
      inline-size: percent(372, 610);
      flex-basis: percent(372, 610);
      // aspect-ratio: 372 / 444;
      padding-inline: toRem(33);
    }

    @media (max-width: toEm(630)) {
      inline-size: 100%;
      flex-basis: 100%;
      flex-shrink: 1;
      padding-block-start: toRem(24);
      padding-block-end: toRem(60);
    }

    @media (max-width: toEm(360)) {
      padding-inline: toRem(30);
    }
  }

  // .item-tour__content
  &__content {
    >* {
      margin-block-end: toRem(20);
    }
  }

  // .item-tour__top
  &__top {}

  // .item-tour__subtitle
  &__subtitle {
    color: $yellowColor;
    font-size: toRem(12);
    font-weight: 500;

    &:not(:last-child) {
      margin-block-end: toRem(2);
    }
  }

  // .item-tour__title-name
  &__title-name {
    font-size: toRem(18);
    font-weight: 700;

    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }

  // .item-tour__info
  &__info {}

  // .item-tour__text
  &__text {
    font-size: toRem(12);
    font-weight: 500;
    line-height: 1.3;
    padding-inline-start: toRem(20);
    position: relative;

    @media (max-width: toEm(560)) {
      @include adaptiveValue("padding-inline-start", 20, 10, 0, 1440, 428);
    }

    &::before {
      position: absolute;
      content: '';
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: toRem(3);
      block-size: 100%;
      background-color: $blueColor;
      border-radius: toRem(4);
    }

    @media (max-width:$mobile) {
      font-size: toRem(13);

      &:not(:last-child) {
        margin-block-end: toRem(40);
      }
    }
  }

  // .item-tour__actions
  &__actions {
    margin-block-end: 0;
  }
}

.info-popular {
  display: flex;
  flex-wrap: wrap;
  column-gap: toRem(10);
  row-gap: toRem(15);
  color: $blueColor;
  font-size: toRem(18);
  font-weight: 700;

  // .info-popular__item
  &__item {
    &:nth-child(2) {
      margin-inline-end: toRem(40);
    }

    &::before {}
  }
}

.item-info-popular {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: toRem(1);

  &__price,
  &__ticket,
  &__time {
    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      inline-size: toRem(22);
      flex-basis: toRem(22);
      aspect-ratio: 1;
      flex-shrink: 0;
      font-size: toRem(16);
    }
  }

  // .item-info-popular__price
  &__price {
    display: flex;
    align-items: center;
    gap: toRem(6);
  }

  // .item-info-popular__ticket
  &__ticket {
    font-size: toRem(10);
    font-weight: 500;
    color: $mainColor;
  }

  // .item-info-popular__time
  &__time {
    display: flex;
    align-items: center;
    gap: toRem(6);
  }
}

.actions-item-tour {
  display: flex;
  align-items: center;
  column-gap: toRem(10);
  row-gap: toRem(15);

  // .actions-item-tour__button
  &__button {
    @media (max-width: toEm(560)) {
      padding-inline: toRem(30);
    }

    @media (max-width: toEm(630)) {
      inline-size: 100%;
      text-align: center;
    }

  }

  // .actions-item-tour__like
  &__like {}
}

//=== Item-tag-price
.item-tag-price {
  min-inline-size: toRem(160);
  inline-size: auto;
  block-size: toRem(100);
  position: relative;
  border-radius: toRem(10);
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.10);
  z-index: 1; // *можна прибрати
  display: flex;


  &::before {
    content: '';
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    border-radius: toRem(10);
    inset-block-start: 0;
    inset-inline-start: 0;
    background: inherit;
    backdrop-filter: blur(10px);
    filter: blur(5px);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    inline-size: toRem(57);
    block-size: toRem(57);
    background-color: $yellowColor;
    border-radius: 50%;
    inset-block-start: toRem(-24);
    inset-inline-start: toRem(-18);
    z-index: -2;
  }

  // .item-tag-price__body
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: toRem(24);
    padding-inline: toRem(13);
  }

  // .item-tag-price__cost
  &__cost {
    display: flex;
    column-gap: toRem(10);
    color: $blueColor;
    font-size: toRem(24);
    font-weight: 700;
    text-align: center;

    &::before {
      inline-size: toRem(30);
      flex-basis: toRem(30);
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: toRem(25);
    }

    &:not(:last-child) {
      margin-block-end: toRem(5);
    }
  }

  // .item-tag-price__ticket
  &__ticket {
    font-size: toRem(14);
    font-weight: 500;
  }

}

//=== Stars-raiting
.stars-raiting {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: toRem(4);

  // .stars-raiting__star
  &__star {
    background: url('../img/iconfonts/star_1.svg') 0 0 / 100% no-repeat;
    inline-size: toRem(23);
    flex-basis: toRem(23);
    aspect-ratio: 1 / 1;
    flex-shrink: 0;

    // .stars-raiting__star--star05
    &--star05 {
      background: url('../img/iconfonts/star_05.svg') 0 0 / 100% no-repeat;
      inline-size: toRem(11);
      flex-basis: toRem(11);
      aspect-ratio: 11 / 23;
      flex-shrink: 0;
    }
  }
}

//=== Item-review
.item-review {
  position: relative;
  border-radius: toRem(10);
  background-color: $grayColor;
  overflow: hidden;

  // .item-review__wrapper
  &__wrapper {
    padding-block: toRem(38);
    padding-inline-start: toRem(45);
    padding-inline-end: toRem(27);
    display: flex;
    column-gap: toRem(28);

    @media (max-width:$mobile) {
      padding-block: toRem(26);
      padding-inline-start: toRem(31);
      padding-inline-end: toRem(17);
    }

    @media (max-width:$mobileSmall) {
      flex-wrap: wrap;
      row-gap: toRem(20);
    }
  }

  // .item-review__box
  &__box {
    inline-size: toRem(245);
    block-size: 100%;
    flex-basis: toRem(245);
    display: flex;
  }

  // .item-review__picture
  &__picture {
    inline-size: toRem(245);
    flex-basis: toRem(245);
    flex-grow: 1;

    aspect-ratio: 1;
    border-radius: toRem(10);
    overflow: hidden;

    @media (max-width: toEm(1024)) {
      inline-size: toRem(200);
      flex-basis: toRem(200);
    }

    @media (max-width:$tablet) {
      inline-size: toRem(180);
      flex-basis: toRem(180);
    }

    @media (max-width: toEm(620)) {
      inline-size: toRem(168);
      flex-basis: toRem(168);
    }
  }

  // .item-review__image
  &__image {
    inline-size: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: toRem(10);
  }

  // .item-review__content
  &__content {
    padding-block-end: toRem(10);
    inline-size: toRem(395);
    flex-basis: toRem(395);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: toRem(30);
    position: relative;
    z-index: 2;

    @media (max-width:$tablet) {
      row-gap: toRem(15);
    }

    @media (max-width:$mobile) {
      row-gap: toRem(20);
    }
  }

  // .item-review__header
  &__header {
    display: flex;
    column-gap: toRem(20);
    row-gap: toRem(10);
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 600;
  }

  // .item-review__body
  &__body {}

  // .item-review__name
  &__name {
    &:not(:last-child) {
      margin-block-end: toRem(7);
    }
  }

  // .item-review__stars-raiting
  &__stars-raiting {
    display: inline-flex;
  }

  // .item-review__data
  &__data {}

  // .item-review__text
  &__text {
    font-weight: 500;
    line-height: 1.3;

    @media (max-width:$mobile) {
      font-size: toRem(12);
    }
  }

  // .item-review__icon-bg
  &__icon-bg {
    position: absolute;
    inline-size: percent(149, 740);
    block-size: percent(121, 322);
    inset-block-start: percent(205, 322);
    inset-inline-start: percent(550, 740);
    transform: rotate(16deg);
    aspect-ratio: 197 / 322;

    img {
      inline-size: 100%;
      object-fit: contain;
    }

    @media (max-width:$mobileSmall) {
      inline-size: toRem(100);
      block-size: toRem(100);
      aspect-ratio: 1;
      inset-block-start: toRem(500);
      inset-inline-end: toRem(30);
    }
  }
}

//=== Title
.title {
  font-size: toRem(24);
  font-weight: 700;
  color: $blueColor;
  line-height: 1.208333;

  /* 29/24 */
  &--white {
    color: $whiteColor;
  }
}

//=== Item-route
.item-route {
  border-radius: toRem(10);
  overflow: hidden;

  // .item-route__wrapper
  &__wrapper {
    position: relative;
    display: flex;

    &::before {
      content: '';
      position: absolute;
      inline-size: 100%;
      block-size: 100%;
      inset-inline-start: 0;
      inset-block-start: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
    }
  }

  // .item-route__picture
  &__picture {
    inline-size: toRem(413);
    flex-basis: toRem(413);
    aspect-ratio: 413 / 570;
    flex-grow: 1;
    flex-shrink: 1;

    @media (max-width:$tablet) {
      inline-size: toRem(295);
      flex-basis: toRem(295);
      aspect-ratio: 295 / 490;
    }

    @media (max-width: toEm(428)) {
      inline-size: toRem(280);
      flex-basis: toRem(280);
      aspect-ratio: 280 / 540;
    }
  }

  // .item-route__image
  &__image {
    aspect-ratio: 413 / 570;

    @media (max-width: toEm(428)) {
      aspect-ratio: 280 / 540;
    }
  }

  // .item-route__body
  &__body {
    position: absolute;
    inset-inline-start: percent(23, 413);
    inset-block-start: percent(531, 570);
    inline-size: auto;
    block-size: 100%;
    z-index: 2;
  }

  // .item-route__title
  &__title {
    font-weight: 500;
    color: $yellowColor;
  }
}

//=== List-route
.list-route {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: toRem(21);

  // .list-route__item
  &__item {
    display: flex;
    align-items: start;
    gap: toRem(26);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: toRem(12);
      block-size: toRem(12);
      flex: 0 0 toRem(12);
      border-radius: 50%;
      background-color: $yellowColor;
    }
  }

  // .list-route__text
  &__text {
    padding-inline-start: toRem(38);
    font-weight: 500;
    line-height: 1.214286;
    /* 17/14 */
    margin-block-start: toRem(-2);
  }
}