//========================================================================================================================================================
.excursions {
  background-color: #FBFBFB;

  // .excursions__hero
  &__hero {
    margin-block-end: toRem(40);
  }

  // .excursions__tours
  &__tours {
    margin-block-end: toRem(38);
  }
}

//========================================================================================================================================================
.hero-excursions {
  position: relative;

  // .hero-excursions__image-bg  
  &__image-bg {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;

    &::before {
      content: '';
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 0;
      inline-size: 100%;
      block-size: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
      backdrop-filter: blur(0.5px);
      filter: blur(0.5px);
    }
  }

  // .hero-excursions__image  
  &__image {
    aspect-ratio: 1440 / 289;

    @media (max-width:$mobile) {
      aspect-ratio: 768 / 510;
    }

    @media (max-width: toEm(428)) {
      aspect-ratio: 428 / 370;
    }
  }

  // .hero-excursions__container
  &__container {
    padding-block-start: toRem(142);
    padding-block-end: toRem(59);
    @include adaptiveValue("padding-block", 225, 150, 1, 767.98, 320);
  }

  // .hero-excursions__title
  &__title {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 700;
    color: $whiteColor;
    @include adaptiveValue("font-size", 72, 30);
  }
}

//========================================================================================================================================================
.tours {

  // .tours__container
  &__container {
    border-radius: toRem(10);
    box-shadow: 0px 0px toRem(40) 0px rgba(0, 0, 0, 0.05);
    background-color: $whiteColor;
    padding: toRem(60);

    @media (max-width: toEm(640)) {
      padding-inline: toRem(35);
    }
  }

  // .tours__tabs
  &__tabs {}
}

.form-excursions {
  gap: toRem(20);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toRem(220), 1fr));

  // .form-excursions__line
  &__line {}

  // .form-excursions__input
  &__input {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.10);
    font-size: toRem(14);
    font-weight: 500;
    line-height: 1.214286;
    height: toRem(50);
    padding: toRem(16) toRem(149) toRem(17) toRem(25);
    gap: toRem(10);
    display: flex;

    &::placeholder {
      min-inline-size: toRem(140);
      color: $mainColor;
      font-weight: 500;
    }

    &._form-focus {
      border: toRem(2) solid $yellowColor;
      outline: #000;
    }
  }

  span {
    &::before {
      position: absolute;
      inset-block-start: toRem(15);
      inset-inline-end: toRem(25);
      align-self: stretch;
      flex: 0 0 toRem(20);
      font-size: toRem(19);
      color: #0499DD;
      transition: all 0.3s ease 0s;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // .form-excursions__button
  &__button {}
}

//========================================================================================================================================================