.header {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  padding-block: toRem(27);
  z-index: 60;

  @media (max-width:$tablet) {
    padding-block: toRem(18);
  }

  &._header-scroll {
    position: fixed;
    inset-block-start: -200%;
    background: rgba(3, 27, 46, 0.6);

    &::before {
      content: '';
      position: absolute;
      inline-size: 100%;
      block-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      background: inherit;
      backdrop-filter: blur(10px);
      filter: blur(5px);
      z-index: -1;
    }
  }

  &._header-show {
    transition: inset-block-start 0.3s ease 0s;
    inset-block-start: 0;
  }

  @media (max-width:$mobile) {
    padding-block: toRem(15);
  }

  // .header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo
  &__logo {
    inline-size: toRem(58);
    flex-basis: toRem(58);
    aspect-ratio: 1;
    flex-shrink: 0;
    position: relative;
    z-index: 6;

    img {
      inline-size: 100%;
      object-fit: contain;
    }

    @media (max-width:$mobile) {
      inline-size: toRem(40);
      flex-basis: toRem(40);
    }
  }

  // .header__menu
  &__menu {}
}