//====================================================================================================
.page {

  // .page__hero
  &__hero {}

  // .page__swiper  
  &__swiper {}

  // .page__popular  
  &__popular {
    margin-block-end: toRem(150);
  }

  // .page__about  
  &__about {
    margin-block-end: toRem(150);
  }

  // .page__types    
  &__types {
    margin-block-end: toRem(150);
  }

  // .page__gallery  
  &__gallery {
    margin-block-end: toRem(150);
  }
}

//====================================================================================================
.hero {
  min-block-size: 100vh;
  position: relative;

  // .hero__container
  &__container {
    padding-block-start: toRem(237);
    padding-block-end: toRem(248);
  }

  // .hero__body
  &__body {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(30);

    @media (max-width: toEm(450)) {
      flex-direction: column;
      row-gap: toRem(50);
      align-items: start;
    }
  }

  // .hero__content
  &__content {
    inline-size: toRem(723);
    flex-basis: toRem(723);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    row-gap: toRem(80);

    @media (max-width: toEm(450)) {
      inline-size: 100%;
      flex-basis: 100%;
    }
  }

  // .hero__title
  &__title {
    display: inline-block;
    font-size: toRem(72);
    color: $whiteColor;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: toEm(590)) {
      font-size: toRem(36);
    }

    span {
      &:first-child {
        font-family: 'mr_KindlyJasmineG', serif;
        font-size: toRem(64);
        color: $yellowColor;
        text-transform: lowercase;

        @media (max-width: toEm(590)) {
          font-size: toRem(48);
        }
      }

      &:last-child {
        font-family: 'Montserrat', sans-serif;
        font-size: toRem(96);
        font-weight: 900;
        line-height: 1;
        color: transparent;
        -webkit-text-stroke-width: toRem(2);
        -webkit-text-stroke-color: $whiteColor;

        @media (max-width:$tablet) {
          line-height: 96%;
        }

        @media (max-width: toEm(590)) {
          font-size: toRem(72);
        }

        @media (max-width: toEm(450)) {
          white-space: normal;
        }
      }
    }
  }

  // .hero__button  
  &__button {
    max-inline-size: toRem(250);

    @media (max-width: toEm(450)) {
      max-inline-size: 100%;
    }
  }

  // .hero__socail
  &__socail {}

  // .hero__image
  &__image {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
  }
}

.socail-hero {
  color: $whiteColor;
  align-self: center;

  // .socail-hero__list
  &__list {
    @media (max-width: toEm(450)) {
      display: flex;
      column-gap: toRem(15);
    }
  }

  // .socail-hero__item
  &__item {
    @media (min-width:toEm(450)) {
      &:not(:last-child) {
        margin-block-end: toRem(8);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        .socail-hero__link {
          &::before {
            transform: scale(1.2);
            color: $yellowColor;
          }
        }
      }
    }

    &:last-child {
      .socail-hero__link {
        &::before {
          font-size: toRem(32);
        }
      }
    }
  }

  // .socail-hero__link
  &__link {
    inline-size: toRem(32);
    flex-basis: toRem(32);
    aspect-ratio: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      font-size: toRem(30);
      transition: all 0.4s;
    }
  }
}

//========================================================================================================================================================
.swiper-video {
  @include gridContainer(3);

  // .swiper-video__content
  &__content {
    display: flex;
    position: relative;
    inline-size: 100%;
    block-size: 100%;
    inset-block-start: var(--swiper-height); //*Вирахувати за допомогою js
  }

  // .swiper-video__block  
  &__block {
    flex-basis: percent(665, 1120);

    @media (max-width:$tablet) {
      flex-basis: percent(289, 610);
    }

    @media (max-width: toEm(428)) {
      display: none;
    }
  }

  // .swiper-video__slider
  &__slider {
    justify-self: flex-end;
    inline-size: toRem(615);
    flex-basis: toRem(615);

    @media (max-width:$tablet) {
      flex-basis: percent(479, 689);
    }

    @media (max-width: toEm(428)) {
      flex-basis: 100%;
    }
  }

  // .swiper-video__wrapper
  &__wrapper {}

  // .swiper-video__slide
  &__slide {}
}

//========================================================================================================================================================
.popular {
  padding-block-start: toRem(34);
  @include gridContainer(3);

  // .popular__content
  &__content {}

  // .popular__container
  &__container {
    margin-inline-start: toRem(-15);
    @include adaptiveValue("margin-block-end", 90, 40);
  }

  // .popular__header
  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(40);
  }

  // .popular__title
  &__title {}

  // .popular__all
  &__all {
    font-size: toRem(12);
    font-weight: 500;
    text-decoration: underline;
    transition: color 0.4s;

    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
        text-decoration: none;
      }
    }
  }

  // .popular__body
  &__body {}

  // .popular__slider
  &__slider {}

  // .popular__wrapper
  &__wrapper {
    &:not(:last-child) {
      margin-block-end: toRem(40);
    }
  }

  // .popular__slide
  &__slide {}

  // .popular__control
  &__control {
    display: flex;
    align-items: center;
    column-gap: toRem(50);
  }

  // .popular__navigation
  &__navigation {
    display: flex;
    align-items: center;
  }

  &__prev,
  &__next {
    inline-size: toRem(43);
    block-size: toRem(43);
    aspect-ratio: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      color: $blueColor;
      font-size: toRem(43);
    }
  }

  // .popular__prev
  &__prev {
    &::before {
      transform: rotate(90deg);
    }
  }

  // .popular__next
  &__next {
    &::before {
      transform: rotate(-90deg);
    }
  }

  // .popular__scrollbar  
  &__scrollbar {
    inline-size: 100%;
    block-size: toRem(2);
    background-color: $grayColor;

    .swiper-scrollbar-drag {
      inline-size: percent(170, 774);
      block-size: 100%;
      background-color: $blueColor;

      &:not(:first-child) {
        margin: 0 toRem(6);
      }
    }
  }

  .swiper-button-disabled {
    cursor: none;

    &::before {
      color: $grayColor;
    }
  }
}

//========================================================================================================================================================
.about {
  @include gridContainer(4);

  // .about__content
  &__content {
    display: flex;
    position: relative;
  }

  // .about__picture
  &__picture {
    position: relative;
    inline-size: percent(1071, 1280);
    flex-basis: percent(1071, 1280);
    aspect-ratio: 1071 / 749;
    border-radius: 0 toRem(10) toRem(10) 0;
    background-color: #fff;

    @media (max-width:$mobile) {
      inline-size: percent(504, 689);
      flex-basis: percent(504, 689);
      aspect-ratio: 504 / 749;
    }

    @media (max-width: toEm(428)) {
      inline-size: percent(304, 404);
      flex-basis: percent(304, 404);
      aspect-ratio: 304 / 704;
    }

    &::before {
      position: absolute;
      content: '';
      inline-size: 100%;
      block-size: 100%;
      inset-inline-start: 0;
      inset-block-start: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
      border-radius: 0 toRem(10) toRem(10) 0;
    }
  }

  // .about__image
  &__image {
    inline-size: 100%;
    object-fit: cover;
    border-radius: 0 toRem(10) toRem(10) 0;
    // grid-template-columns: ;
  }

  // .about__body
  &__body {
    position: absolute;
    inset-block-start: toRem(137);
    inset-inline-start: toRem(738);
    background-color: $grayColor;
    padding-block-start: toRem(61);
    padding-inline-end: toRem(75);
    padding-block-end: toRem(105);
    padding-inline-start: toRem(85);
    border-radius: toRem(10);
    display: flex;
    flex-direction: column;
    gap: toRem(40);

    @media (max-width: toEm(1200)) {
      inset-block-start: toRem(137);
      inset-inline-start: toRem(400);

      padding-block-start: toRem(40);
      padding-inline-end: toRem(55);
      padding-block-end: toRem(40);
      padding-inline-start: toRem(45);
    }

    @media (max-width:$tablet) {
      inset-block-start: toRem(70);
      inset-inline-start: toRem(196);
    }

    @media (max-width:$mobile) {
      inset-block-start: toRem(137);
      inset-inline-start: toRem(196);

      padding-block-start: toRem(62);
      padding-inline-end: toRem(55);
      padding-block-end: toRem(61);
      padding-inline-start: toRem(56);
    }

    @media (max-width: toEm(630)) {
      inset-block-start: toRem(50);
      inset-inline-start: toRem(40);
      padding-inline: toRem(20);
      padding-block: toRem(40);
    }

    @media (max-width: toEm(428)) {
      inset-block-start: toRem(159);
      inset-inline-start: toRem(24);

      padding: toRem(43);
    }

    @media (max-width: toEm(380)) {
      inset-block-start: toRem(50);
    }
  }

  // .about__title
  &__title {}

  // .about__text
  &__text {
    font-weight: 500;
    line-height: 1.2;

    p {
      &:not(:last-child) {
        margin-block-end: toRem(20);
      }
    }
  }
}

//========================================================================================================================================================
.types {

  // .types__container
  &__container {}

  // .types__body
  &__body {
    display: flex;
    flex-direction: column;

    @media (max-width:$mobile) {
      @include adaptiveValue("padding-inline", 59, 0, 0, 767, 428);
    }
  }

  // .types__title
  &__title {
    @include adaptiveValue("margin-block-end", 90, 40);
  }

  // .types__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: auto;
    column-gap: toRem(20);
    row-gap: toRem(40);

    @media (max-width: toEm(880)) {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    &:not(:last-child) {
      margin-block-end: toRem(60);
    }
  }

  // .types__item
  &__item {}

  // .types__text
  &__text {
    max-inline-size: toRem(550);
    align-self: center;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: toRem(20);
    }

    @media (max-width:$mobileSmall) {
      &:not(:last-child) {
        margin-block-end: toRem(40);
      }
    }
  }

  // .types__button
  &__button {
    align-self: center;
    max-inline-size: toRem(250)
  }
}

//========================================================================================================================================================
.gallery {

  // .gallery__container
  &__container {
    @include adaptiveValue("margin-block-end", 90, 40);
  }

  // .gallery__header
  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(40);
  }

  // .gallery__title
  &__title {}

  // .gallery__all
  &__all {
    font-size: toRem(12);
    font-weight: 500;
    text-decoration: underline;
    transition: color 0.4s;

    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
        text-decoration: none;
      }
    }
  }

  // .gallery__body
  &__body {
    margin: 0 auto;
  }
}

.pictures-gallery {
  display: grid;
  grid-template-columns: 1fr 1.232557fr 1.672079fr 1.232557fr 1fr;
  //grid-template-columns: 1.60368fr 1.97663fr 2.68148fr 1.97663fr 1.60368fr;
  /* 362/1350 */
  /* 266.845/1350 */
  /* 216.497/1350 */
  grid-template-rows: repeat(4, 1fr);
  gap: toRem(20);
  align-items: stretch;
  justify-items: stretch;
  padding-inline: toRem(15);

  // .pictures-gallery__image
  &__image {
    position: relative;
    display: inline-block;
    // display: flex;
    border-radius: toRem(5);
    overflow: hidden;

    &::before {
      position: absolute;
      content: '';
      inline-size: 100%;
      block-size: 100%;
      inset-inline-start: 0;
      inset-block-start: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
      border-radius: toRem(5);
    }

    &:first-child {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
      aspect-ratio: 503 / 280;

      img {
        aspect-ratio: 503 / 280;
        border-radius: toRem(5);
        inline-size: 100%;
        object-fit: cover;
      }

      @media (max-width:$mobile) {
        display: none;
      }
    }

    &:nth-child(2) {
      grid-row: 1/ span 4;
      aspect-ratio: 362 / 567;

      img {
        aspect-ratio: 362 / 567;
        border-radius: toRem(5);
        inline-size: 100%;
        object-fit: cover;
      }

      @media (max-width:$mobile) {
        grid-row: 1 / span 2;
        grid-column: 1 / 2;
        aspect-ratio: 205 / 567;

        img {
          aspect-ratio: 205 / 567;
        }
      }

      @media (max-width:$mobileSmall) {
        grid-row: 1 / span 2;
        aspect-ratio: 180 / 400;

        img {
          aspect-ratio: 180 / 400;
        }
      }
    }

    &:nth-child(3) {
      grid-row: 1 / span 2;
      aspect-ratio: 266 / 263;

      img {
        aspect-ratio: 266 / 263;
        border-radius: toRem(5);
        inline-size: 100%;
        object-fit: cover;
      }

      @media (max-width:$mobile) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        aspect-ratio: 267 / 264;

        img {
          aspect-ratio: 267 / 264;
        }
      }

      @media (max-width:$mobileSmall) {
        aspect-ratio: 180 / 186;

        img {
          aspect-ratio: 180 / 186;
        }
      }
    }

    &:nth-child(4) {
      grid-row: 1 / span 2;
      aspect-ratio: 216 / 263;

      img {
        aspect-ratio: 216 / 263;
        border-radius: toRem(5);
        inline-size: 100%;
        object-fit: cover;
      }

      @media (max-width:$mobile) {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        aspect-ratio: 216 / 264;

        img {
          aspect-ratio: 216 / 264;
        }
      }

      @media (max-width:$mobileSmall) {
        grid-row: 2 / span 1;
        grid-column: 2 / 3;
        aspect-ratio: 180 / 194;

        img {
          aspect-ratio: 180 / 194;
        }
      }
    }

    &:nth-child(5) {
      grid-row: 3 / span 2;
      aspect-ratio: 216 / 263;

      img {
        aspect-ratio: 216 / 263;
        border-radius: toRem(5);
        inline-size: 100%;
        object-fit: cover;
      }

      @media (max-width:$mobile) {
        display: none;
      }
    }

    &:nth-child(6) {
      grid-column: 2 / span 1;
      grid-row: 3 / 4;
      aspect-ratio: 266 / 123;

      img {
        aspect-ratio: 266 / 123;
        border-radius: toRem(5);
        inline-size: 100%;
        object-fit: cover;
      }

      @media (max-width:$mobile) {
        display: none;
      }
    }

    &:nth-child(7) {
      grid-column: 2 / span 1;
      grid-row: 4 / 5;
      aspect-ratio: 266 / 123;
      justify-self: center;

      img {
        aspect-ratio: 266 / 123;
        border-radius: toRem(5);
        inline-size: 100%;
        object-fit: cover;
      }

      @media (max-width:$mobile) {
        display: none;
      }
    }

    &:nth-child(8) {
      grid-column: 4 / span 2;
      grid-row: 3 / span 2;
      aspect-ratio: 503 / 280;

      img {
        aspect-ratio: 503 / 280;
        border-radius: toRem(5);
        inline-size: 100%;
        object-fit: cover;
      }

      @media (max-width:$mobile) {
        grid-row: 2 / 3;
        grid-column: 2 / span 2;
        aspect-ratio: 503 / 283;

        img {
          aspect-ratio: 503 / 283;
        }
      }

      @media (max-width:$mobileSmall) {
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
        aspect-ratio: 380 / 260;

        img {
          aspect-ratio: 380 / 260;
        }
      }
    }
  }

  @media (max-width:$mobile) {
    grid-template-columns: 1fr 1.302439fr 1.053659fr;
    /* 216/205 */
    /* 267/205 */
    /* 205/728 */
    grid-template-rows: 1fr 1.07197fr;
    /* 283/264 */
  }

  @media (max-width:$mobileSmall) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1.043011fr 1.397849fr;
    /* 260/186 */
    /* 194/186 */
  }
}

//========================================================================================================================================================