//====================================================================================================
.page {

  // .page__hero
  &__hero {}

  // .page__swiper  
  &__swiper {}

  // .page__popular  
  &__popular {
    margin-block-end: toRem(150);
  }
}

//====================================================================================================
.hero {
  min-block-size: 100vh;
  position: relative;

  // .hero__container
  &__container {
    padding-block-start: toRem(237);
    padding-block-end: toRem(248);
  }

  // .hero__body
  &__body {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(30);

    @media (max-width: toEm(450)) {
      flex-direction: column;
      row-gap: toRem(50);
      align-items: start;
    }
  }

  // .hero__content
  &__content {
    inline-size: toRem(723);
    flex-basis: toRem(723);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    row-gap: toRem(80);

    @media (max-width: toEm(450)) {
      inline-size: 100%;
      flex-basis: 100%;
    }
  }

  // .hero__title
  &__title {
    display: inline-block;
    font-size: toRem(72);
    color: $whiteColor;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: toEm(590)) {
      font-size: toRem(36);
    }

    span {
      &:first-child {
        font-family: 'mr_KindlyJasmineG', serif;
        font-size: toRem(64);
        color: $yellowColor;
        text-transform: lowercase;

        @media (max-width: toEm(590)) {
          font-size: toRem(48);
        }
      }

      &:last-child {
        font-family: 'Montserrat', sans-serif;
        font-size: toRem(96);
        font-weight: 900;
        line-height: 1;
        color: transparent;
        -webkit-text-stroke-width: toRem(2);
        -webkit-text-stroke-color: $whiteColor;

        @media (max-width:$tablet) {
          line-height: 96%;
        }

        @media (max-width: toEm(590)) {
          font-size: toRem(72);
        }

        @media (max-width: toEm(450)) {
          white-space: normal;
        }
      }
    }
  }

  // .hero__button  
  &__button {
    max-inline-size: toRem(250);

    @media (max-width: toEm(450)) {
      max-inline-size: 100%;
    }
  }

  // .hero__socail
  &__socail {}

  // .hero__image
  &__image {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
  }
}

.socail-hero {
  color: $whiteColor;
  align-self: center;

  // .socail-hero__list
  &__list {
    @media (max-width: toEm(450)) {
      display: flex;
      column-gap: toRem(15);
    }
  }

  // .socail-hero__item
  &__item {
    @media (min-width:toEm(450)) {
      &:not(:last-child) {
        margin-block-end: toRem(8);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        .socail-hero__link {
          &::before {
            transform: scale(1.2);
            color: $yellowColor;
          }
        }
      }
    }

    &:last-child {
      .socail-hero__link {
        &::before {
          font-size: toRem(32);
        }
      }
    }
  }

  // .socail-hero__link
  &__link {
    inline-size: toRem(32);
    flex-basis: toRem(32);
    aspect-ratio: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      font-size: toRem(30);
      transition: all 0.4s;
    }
  }
}

//========================================================================================================================================================
.swiper-video {
  @include gridContainer(3);

  // .swiper-video__content
  &__content {
    display: flex;
    position: relative;
    inline-size: 100%;
    block-size: 100%;
    inset-block-start: var(--swiper-height); //*Вирахувати за допомогою js
  }

  // .swiper-video__block  
  &__block {
    flex-basis: percent(665, 1120);

    @media (max-width:$tablet) {
      flex-basis: percent(289, 610);
    }

    @media (max-width: toEm(428)) {
      display: none;
    }
  }

  // .swiper-video__slider
  &__slider {
    justify-self: flex-end;
    inline-size: toRem(615);
    flex-basis: toRem(615);

    @media (max-width:$tablet) {
      flex-basis: percent(479, 689);
    }

    @media (max-width: toEm(428)) {
      flex-basis: 100%;
    }
  }

  // .swiper-video__wrapper
  &__wrapper {}

  // .swiper-video__slide
  &__slide {}
}

//========================================================================================================================================================
.popular {
  padding-block-start: toRem(34);
  @include gridContainer(3);

  // .popular__content

  &__content {}

  // .popular__container

  &__container {
    margin-inline-start: toRem(-15);

    &:not(:last-child) {
      margin-block-end: toRem(90);
    }
  }

  // .popular__header
  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(40);
  }

  // .popular__title
  &__title {}

  // .popular__all
  &__all {
    font-size: toRem(12);
    font-weight: 500;
    text-decoration: underline;
  }

  // .popular__body
  &__body {}

  // .popular__slider
  &__slider {}

  // .popular__wrapper
  &__wrapper {
    &:not(:last-child) {
      margin-block-end: toRem(40);
    }
  }

  // .popular__slide
  &__slide {}

  // .popular__control
  &__control {
    display: flex;
    align-items: center;
    column-gap: toRem(50);
  }

  // .popular__navigation
  &__navigation {
    display: flex;
    align-items: center;
  }

  &__prev,
  &__next {
    inline-size: toRem(43);
    block-size: toRem(43);
    aspect-ratio: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      color: $blueColor;
      font-size: toRem(43);
    }
  }

  // .popular__prev
  &__prev {
    &::before {
      transform: rotate(90deg);
    }
  }

  // .popular__next
  &__next {
    &::before {
      transform: rotate(-90deg);
    }
  }

  // .popular__scrollbar  
  &__scrollbar {
    inline-size: 100%;
    block-size: toRem(2);
    background-color: $grayColor;

    .swiper-scrollbar-drag {
      inline-size: percent(170, 774);
      block-size: 100%;
      background-color: $blueColor;

      &:not(:first-child) {
        margin: 0 toRem(6);
      }
    }
  }

  .swiper-button-disabled {
    cursor: none;

    &::before {
      color: $grayColor;
    }
  }
}

//========================================================================================================================================================
.page {

  // .page__about

  &__about {}
}

.about {

  // .about__content

  &__content {}

  // .about__picture

  &__picture {}

  // .about__image

  &__image {}

  // .about__body

  &__body {}

  // .about__title

  &__title {}

  // .about__text

  &__text {}
}